{% extends "base.html" %}

{% block content %}
    <title>О Дневнике читателя</title>
    <p align="center">«Дневник читателя» предназначен для школьников,<br>
        помогает в подготовке к урокам литературы, систематизирует<br>
        необходимый для изучения материал, предоставляет необходимые<br>
        списки литературы в соответствии с годом обучения. База данных<br>
        предоставляет основные и дополнительные материалы и помогает<br>
        изучать каждое произведение комплексно, расширяя кругозор,<br>
        улучшая восприятие, связывая различные жанры искусства.<br>
        Зарегистрированные пользователи имеют возможность скачать<br>
        универсальную форму для заполнения «Дневник читателя». Желаем<br>
        успехов в изучении литературы!

    </p>

{% endblock %}