{% extends "base.html" %}

{% block content %}
<p><h1>Добро пожаловать в онлайн Дневник читателя.</h1><br>
</p>
{% if molodec == True %}
<form action="/logout"><button style="height:50px;width:150px;font-size:20px"> Выйти</button></form>
{% else %}
<table>
    <tr>
        <td>
<form action="/login"><button style="height:50px;width:150px;font-size:20px"> Войти</button></form>
        </td>
    <td>
<form action="/register"><button style="height:50px;width:150px;font-size:20px"> Регистрация</button></form>
    </td>
    </tr>
</table>
{% endif %}
{% endblock %}